#homeContainer{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    justify-items: center;
}

.display{
    height: 50vh;
    width: 80%;
    
    justify-content: center;
    opacity: 85%;
    
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgb(80, 10, 3) 90%);
    
}

.headers{
    margin: 20px 0px 0px 0px;
    text-align: center;
    font-family: monospace;
    font-weight: 500;
    color: white;
}